################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

## Generals
**bin
**obj
*.user
*.cache

/lib